<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title)">
<!-- <meta charset="UTF-8"> -->
<title th:text="${title}">Fragements</title>
<script type="text/javascript"
	th:src="@{/webjars/jquery/dist/jquery.min.js} "></script>
<link th:href="@{/webjars/bootstrap/dist/css/bootstrap.css}"
	rel="stylesheet"></link>
	
</head>
<body>
	<div class="container">
		<nav th:fragment="navbar" class="navbar navbar-dark bg-primary">
			<a class="navbar-brand" href="http://localhost:8080">Cloud Build</a>
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item"><a class="nav-link" th:href="@{/}"
					href="messages.html">Messages</a></li>
			</ul>
		</nav>
		<nav th:fragment="cloudbuild-navbar"
			class="navbar navbar-dark bg-primary">
			<a class="navbar-brand" th:href="@{/build}">Lenovo Research Build System</a>
			<!-- <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item"><a class="nav-link" th:href="@{/build}"
					href="messages.html">Build</a></li>
			</ul> -->
		</nav>
	</div>

</body>
</html>