<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title=~{::title/text()})">
<title>Build : View all</title>
</head>
<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- <script th:src="@{/webjars/bootstrap-select/js/bootstrap-select.js}"></script> -->
<!-- <script type="text/javascript" th:src="@{/webjars/bootstrap/js/dist/dropdown.js}"></script> -->
<script type="text/javascript">
	function emptySelect(elementId){
		$("#"+elementId).empty();
		$("#"+elementId).append("<option>All</option> ");
	}
	function getDirectories(elementId, parentId) {
		
		var optionsArray = Array();
		var options=$("#"+elementId).children();
		for(var i=0;i<options.length;i++){
			optionsArray.push(options[i].value)
		}
		$.ajax({
			type : "GET",
			url : "http://localhost:8080/cloudbuild/build/directories",
			data : {"parentId":parentId},
			success : function(msg) {
				$.each(msg, function(i, directory) {
					var option = '<option id="' + directory.id + '">' + directory.name + '</option>';
					//alert(optionsArray+"---------------"+$.inArray(directory.name, optionsArray))
					if($.inArray(directory.name, optionsArray)<0){
		               $("#" + elementId).append(option);
		       		}
				});
			}
		});
	}
	
	function selectBuildImageByDirectoryName(directoryId){
		var directoryNme;
		var directory=$("#"+directoryId+" option:selected");
		var directoryOptionId=directory.attr('id');
		if(directoryOptionId){
			directoryNme="&directoryName="+directory.val();
			return directoryNme;
		}
		return "";
	}
	
	function getRootPath() {  
	    var pathName = window.location.pathname.substring(1);  
	    var webName = pathName == '' ? '' : pathName.substring(0, pathName.indexOf('/')); 
	    return window.location.protocol + '//' + window.location.host + '/' + webName + '/';  
	} 
	$(function() {

		/* $("#projectName").click(function() {
			getDirectories(this.id, null);
			emptySelect("branchName");
			emptySelect("buildType");
			
		})

		$("#branchName").click(function() {
		    var projectNameDirectoryId=$("#projectName option:selected").attr('id');
		    if(projectNameDirectoryId){
			    getDirectories(this.id, projectNameDirectoryId)
			    emptySelect("buildType");
		    }else{
			    //alert("no   id====="+projectNameDirectoryId)
		    }
			
		})

		$("#buildType").click(function() {
			var branchNameDirectoryId=$("#branchName option:selected").attr('id');
		    if(branchNameDirectoryId){
			    getDirectories(this.id, branchNameDirectoryId)
		    }else{
			    //alert("no   id====="+branchNameDirectoryId)
		    }
		})  */
		
		getDirectories("projectName", null);
		$("#projectName").bind("change",function(){
			emptySelect("branchName");
			emptySelect("buildType");
            var projectNameDirectoryId=$("#projectName option:selected").attr('id');
            if(projectNameDirectoryId){
			    getDirectories("branchName", projectNameDirectoryId)
		    }else{
			    //alert("no   id====="+projectNameDirectoryId)
		    }
        });
        
		$("#branchName").bind("change",function(){
		 	emptySelect("buildType");
            var branchNameDirectoryId=$("#branchName option:selected").attr('id');
		    if(branchNameDirectoryId){
			    getDirectories("buildType", branchNameDirectoryId)
		    }else{
			    //alert("no   id====="+branchNameDirectoryId)
		    }
        });
        
		$("#buildSearch").click(function() {
			var url=getRootPath()+"build?";
			var projectName = selectBuildImageByDirectoryName("projectName");
			var branchName = selectBuildImageByDirectoryName("branchName");
			var buildType = selectBuildImageByDirectoryName("buildType");
			var directories=projectName+branchName+buildType;
			url=url+directories.substring(1);
			//alert("url:"+url)
			window.location.href=url;
		})
	});
</script>
<body>
	<div class="container">
		<div th:replace="fragments :: cloudbuild-navbar"></div>

		<div class="row table-bordered col-sm-12   m-auto pt-2 pb-2">
			
			<!-- <div class="form-group col-sm-3 "> -->
				<label for="projectName" class="control-label m-2">Product Name:</label>
				<div class="col-sm-2  ml-0">
					<select id="projectName" class="form-control pl-0">
						<option>All</option> 
					</select>
				 </div>
			<!--</div> -->
			<label for="branchName" class="control-label m-2">Branch Name:</label> 
			<div class="col-sm-2  ml-0">
				<select id="branchName" class="bootstrap-select  form-control">
					<option>All</option>
				</select>

			</div>
			<label for="buildType" class="control-label m-2">Build Type:</label> 
			<div class="col-sm-2">
				<select id="buildType" class="bootstrap-select  form-control">
					<option>All</option>
				</select>
			</div>
			<div class="col-sm-2 mt-1 float-right">
				<a id="buildSearch" class="btn btn-primary btn-sm float-right">Search Build</a><!--th:href="@{/build}"  -->
			</div>

		</div>
		<div class="clearfix"></div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Last Modified</th>
					<th>Size</th>
					<th>Description</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${builds.empty}">
					<td colspan="6">No Build</td>
				</tr>
				<tr th:each="build : ${builds}">
					<td th:text="${build.id}"></td>
					<td th:text="${build.name}"></td>
					<td
						th:text="${#calendars.format(build.modifiedTime,'yyyy-MM-dd HH:mm:ss')}">July
						11, 2012 2:17:16 PM CDT</td>
					<td th:text="${build.size}">Size</td>
					<td th:text="${build.description}">Description</td>
					<td><a th:href="@{/build/download(id=${build.id})}" href="#">Download</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>