<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title=~{::title/text()})">
<title>Build : View all</title>
</head>
<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- <script th:src="@{/webjars/bootstrap-select/js/bootstrap-select.js}"></script> -->
<!-- <script type="text/javascript" th:src="@{/webjars/bootstrap/js/dist/dropdown.js}"></script> -->
<script type="text/javascript">
	function emptySelect(elementId){
		$("#"+elementId).empty();
		$("#"+elementId).append("<option>All</option> ");
	}
	function getDirectories(elementId, parentId) {
		
		var optionsArray = Array();
		var options=$("#"+elementId).children();
		for(var i=0;i<options.length;i++){
			optionsArray.push(options[i].value)
		}
		$.ajax({
			type : "GET",
			url : "http://localhost:8080/cloudbuild/build/directories",
			data : {"parentId":parentId},
			success : function(msg) {
				$.each(msg, function(i, directory) {
					var option = '<option id="' + directory.id + '">' + directory.name + '</option>';
					//alert(optionsArray+"---------------"+$.inArray(directory.name, optionsArray))
					if($.inArray(directory.name, optionsArray)<0){
		               $("#" + elementId).append(option);
		       		}
				});
			}
		});
	}
	
	function selectBuildImageByDirectoryName(directoryId){
		var directoryNme;
		var directory=$("#"+directoryId+" option:selected");
		var directoryOptionId=directory.attr('id');
		if(directoryOptionId){
			directoryNme="directoryName="+directory.val();
			return directoryNme;
		}
		return "";
	}
	
	$(function() {

		$("#projectName").click(function() {
			getDirectories(this.id, null);
			emptySelect("branchName");
			
		})

		$("#branchName").click(function() {
		    var projectNameDirectoryId=$("#projectName option:selected").attr('id');
		    if(projectNameDirectoryId){
			    getDirectories(this.id, projectNameDirectoryId)
			    emptySelect("buildType");
		    }else{
			    //alert("no   id====="+projectNameDirectoryId)
		    }
			
		})

		$("#buildType").click(function() {
			var branchNameDirectoryId=$("#branchName option:selected").attr('id');
		    if(branchNameDirectoryId){
			    getDirectories(this.id, branchNameDirectoryId)
		    }else{
			    //alert("no   id====="+branchNameDirectoryId)
		    }
		}) 
		
		$("#buildSearch").click(function() {
			var url="";
			var projectName = selectBuildImageByDirectoryName("projectName");
			var branchName = selectBuildImageByDirectoryName("branchName");
			var buildType = selectBuildImageByDirectoryName("buildType");
			url=projectName+branchName+buildType;
			alert("url:"+url)
			/* 
			var projectNameDirectoryId=$("#projectName option:selected").attr('id');
			if(projectNameDirectoryId){
				url+="directoryName="+directoryName;
			}
			alert("url:"+url)
			alert("projectNameDirectoryId:"+projectNameDirectoryId+" branchNameDirectoryId:"+branchNameDirectoryId+
			" buildTypeDirectoryId:"+buildTypeDirectoryId); */
		})
	});
</script>
<body>
	<div class="container">
		<div th:replace="fragments :: cloudbuild-navbar"></div>

		<div class="float-left m-2 col-sm-12 row pl-0 pr-0">
			<div class="col-sm-3 pl-0">
				<div class="form-group">
					<label for="projectName" class="control-label">Product Name:</label>
					<select id="projectName" class="form-control pl-0">
						<option>All</option> 
					</select>
				</div>

			</div>
			<div class="col-sm-3  ml-0">
				<label for="branchName" class="control-label">Branch Name:</label> 
				<select id="branchName" class="bootstrap-select  form-control">
					<option>All</option>
				</select>

			</div>
			<div class="col-sm-3">
				<label for="buildType" class="control-label">Build Type:</label> 
				<select id="buildType" class="bootstrap-select  form-control">
					<option>All</option>
				</select>
			</div>
			<div class="col-sm-3 mt-1 float-right">
				<a id="buildSearch" class="btn btn-primary btn-sm float-right">Search Build</a><!--th:href="@{/build}"  -->
			</div>

		</div>
		<div class="clearfix"></div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Last Modified</th>
					<th>Size</th>
					<th>Description</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${builds.empty}">
					<td colspan="6">No Build</td>
				</tr>
				<tr th:each="build : ${builds}">
					<td th:text="${build.id}"></td>
					<td th:text="${build.name}"></td>
					<td
						th:text="${#calendars.format(build.modifiedTime,'yyyy-MM-dd HH:mm:ss')}">July
						11, 2012 2:17:16 PM CDT</td>
					<td th:text="${build.size}">Size</td>
					<td th:text="${build.description}">Description</td>
					<td><a th:href="@{/build/download(id=${build.id})}" href="#">Download</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>