<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title=~{::title/text()})">
<title>Build : View all</title>
</head>
</head>
<body>
	<div class="container">
		<div th:replace="fragments :: cloudbuild-navbar"></div>

		<div class="float-left m-2 col-sm-12 row pl-0 pr-0">
			<div class="col-sm-3 float-left pl-0">
				<select class="form-control  pl-0">
					<option>Mustard</option>
					<option>Ketchup</option>
					<option>Relish</option>
				</select>

			</div>
			<div class="col-sm-3  ml-0">
				<select
					class="selectpicker show-menu-arrow bootstrap-select  form-control">
					<option>Mustard</option>
					<option>Ketchup</option>
					<option>Relish</option>
				</select>

			</div>
			<div class="col-sm-3">
				<select
					class="selectpicker show-menu-arrow bootstrap-select  form-control">
					<option>Mustard</option>
					<option>Ketchup</option>
					<option>Relish</option>
				</select>
			</div>
			<div  class="col-sm-3 mt-1 float-right">
				<a class="btn btn-primary btn-sm float-right" href="form.html"
					th:href="@{/build}">Search Build</a>
			</div>

		</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Last Modified</th>
					<th>Size</th>
					<th>Description</th>
					<th>Operation</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${builds.empty}">
					<td colspan="6">No Build</td>
				</tr>
				<tr th:each="build : ${builds}">
					<td th:text="${build.id}"></td>
					<td th:text="${build.name}"></td>
					<td
						th:text="${#calendars.format(build.modifiedTime,'yyyy-MM-dd HH:mm:ss')}">July
						11, 2012 2:17:16 PM CDT</td>
					<td th:text="${build.size}">Size</td>
					<td th:text="${build.description}">Description</td>
					<td><a th:href="@{/build/download(id=${build.id})}" href="#">Download</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>